---
layout: default
---
<style>
.post-container {
    margin: 20px 20px 0 0;  
    border: 5px solid #333;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}
</style>
<div class="home">
  <div class="post-container">                
    <div class="post-thumb">  ![profile picture]({{ site.url }}/assets/fabio.jpg) </div>
    <div class="post-content">
        <h3 class="post-title">About Me</h3>
        <p>Hello! My name is Fabio. I'm a software developer, and for me information technology is not just for work and study - it's also a beloved hobby. </p></div>
</div>
 </div>
