---
layout: default
---

<h3>Delegates</h3>
<pre>
<code>

	public delegate void ProgressReporter(int percentage);

    public class Worker
    {
        //delegate: a pointer to a function
        public static void CompleteTask(ProgressReporter reporter)
        {
            for(int i = 0; i < 10; i++)
            {
                reporter(i * 10);

                Thread.Sleep(1000); //simulate work
            }
        }
    }
</code>
</pre>
<p>in main..</p>
<pre>
<code>

ProgressReporter p = WriteProgressToConsole;

p += WriteProgressToFile;

Monitor.CompleteTask(p)

....

public static void WriteProgressToConsole(int i)
{
    Console.WriteLine(i + " % completed");
}

public static void WriteProgressToFile(int i)
{
            //todo
    Console.WriteLine("writing to file");
}

</code>
</pre>

<h3>Canceling Tasks with CancellationTokenSource</h3>
<pre>
<code>
var cts = new CancellationTokenSource();

Task<bool> task = Task.Run(() => {

    while (!cts.Token.IsCancellationRequested) {

        Console.WriteLine("doing some work..");
        Thread.Sleep(1000);
        }

        throw new OperationCanceledException();

        }, cts.Token).ContinueWith((t) => { 
		
			Console.WriteLine("doing other stuff.."); 
			
			return true; }, TaskContinuationOptions.OnlyOnCanceled
			
		);

Thread.Sleep(3000);

cts.Cancel();

var resul = task.Result;

Console.ReadLine();
</code>
</pre>
<p>When the cts.Cancel() is invoked OperationCanceledException() is raised by the first task and the execution proceeds with the second.</p>
<p>Output is "doing some work.." 3 times (3 seconds) plus "doing other stuff.."</p>
<pre>
<code>
doing some work..
doing some work..
doing some work..
doing other stuff..
</code>
</pre>
<body>