---
layout: default
---

<div class="home">



  <h1 class="page-heading">My Posts</h1>
  <p>
  <img src="/assets/botanic.jpg" alt="botanic garden">
  </p>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
		<span>{{ post.description }}</span>
      </li><br/>
    {% endfor %}
  </ul>
  
  
  
  <h1 class="page-heading">Useful resources</h1>
  <p>
  <img src="/assets/prison.jpg" alt="prison">
  </p>
  <ul class="post-list">
          <li>
        <h3>
          <a class="post-link" href="http://mbsguru.blogspot.ie/2012/11/capturing-and-using-raw-soap-messages.html">WCF - Capturing and using raw soap messages</a>
        </h3>
      </li>
	  <br/>
        <li>
        <h3>
          <a class="post-link" href="http://vanacosmin.ro/Articles/Read/WCFEnvelopeNamespacePrefix">Customize WCF Envelope and Namespace Prefix</a>
        </h3>
      </li>
	  <br/>
      <li>
        <h3>
          <a class="post-link" href="https://referencesource.microsoft.com/">.NET Reference Source</a>
        </h3>
      </li><br/>
	        <li>
        <h3>
          <a class="post-link" href="https://www.codeproject.com/Articles/686935/Unit-testing-with-Mock-objects-Rhino-Mocks/">Interesting article on unit testing with rhino mocks</a>
        </h3>
      </li><br/>
	  <li>
        <h3>
          <a class="post-link" href="https://appendto.com/2010/10/how-good-c-habits-can-encourage-bad-javascript-habits-part-1/">Bad JavaScript Habits article</a>
        </h3>
      </li>
	  <br/>
  </ul>
  

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  
  
</div>
